<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.8.1" targetFramework="net461" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="net461" />
  <package id="WebSharper" version="4.2.9.256" targetFramework="net461" />
  <package id="WebSharper.FSharp" version="4.2.9.256" targetFramework="net461" />
  <package id="WebSharper.UI" version="4.2.5.116" targetFramework="net461" />
</packages>